@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to shinzo sheets */
.shinzo .item-form {
  font-family: "Roboto", sans-serif;
}
.shinzo .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.shinzo .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.shinzo .sheet-header .header-fields {
  flex: 1;
}
.shinzo .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.shinzo .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.shinzo .sheet-tabs {
  flex: 0;
}
.shinzo .sheet-body,
.shinzo .sheet-body .tab,
.shinzo .sheet-body .tab .editor {
  height: 100%;
}
.shinzo .tox .tox-editor-container {
  background: #fff;
}
.shinzo .tox .tox-edit-area {
  padding: 0 8px;
}
.shinzo .resource-label {
  font-weight: bold;
}
.shinzo .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.shinzo .items-header > * {
  font-size: 14px;
  text-align: center;
}
.shinzo .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.shinzo .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.shinzo .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.shinzo .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.shinzo .items-list .item-name h3, .shinzo .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.shinzo .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.shinzo .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.shinzo .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.shinzo .items-list .item:last-child {
  border-bottom: none;
}
.shinzo .items-list .item .item-name {
  color: #191813;
}
.shinzo .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.shinzo .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.shinzo .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.shinzo .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.shinzo .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.shinzo .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.shinzo .item-res {
  flex: 0 0 130px;
  padding: 0 8px;
}
.shinzo .effects .item .effect-source,
.shinzo .effects .item .effect-duration,
.shinzo .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.shinzo .effects .item .effect-controls {
  border: none;
}


.spellCost{
  display: flex;
  align-items: center;
}

.labelSpellCost{
  padding-right: 2%;
}

/*Truc ajouté*/

.items-and-money{
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.bagageList{
  flex: 1 1;
}

.devises{
  height: 100px;
}

.titleActorPages{
  display: flex;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.gdsStatsGroup{
  display: flex;
  flex-direction: row;
}

.gdsStatsGroupInput{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.descGroup{
  display: flex;
}

.effectStatChoice{
  padding-right: 40%;
}

/*PJ-Sheet*/
.window-app .window-content{
  background-image: url(../assets/Fond.jpg);
  background-size: cover; /* L'image couvre toute la div, en remplissant l'espace sans distorsion */
  background-position: center; /* Centre l'image dans la div */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  z-index: 0;
}

.underline{
  text-decoration: underline;
}

.checkspe, .item-equiped{
  width: 50px;
  height: 15px;
  flex: none;
}

.item-equiped{
  width: 20px;
}

.radio-style {
  margin: 0 !important;
  appearance: none;
  width: 15px !important;
  height: 15px !important;
  border: 2px solid #999;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.radio-style:checked {
  background-color: #292b2c71;
  border-color: #292b2c71;
}

.app.window-app.shinzo.sheet.actor{
  min-width: 850px;
  min-height: 665px;
}

/* Animation pour clignoter lentement entre deux rouges */
@keyframes clignoter {
  0% {
    color: #8b0000; /* Rouge foncé */
  }
  50% {
    color: #ff4d4d; /* Rouge clair */
  }
  100% {
    color: #8b0000; /* Retour au rouge foncé */
  }
}

@keyframes clignoterHover {
  0% {
    color: #ff4d4d; /* Rouge foncé */
  }
  25% {
    color: yellow; /* Rouge clair */
  }
  50% {
    color: gold; /* Retour au rouge foncé */
  }
  75% {
    color: yellow; /* Rouge clair */
  }
  100% {
    color: #ff4d4d; /* Rouge foncé */
  }
}

.deSpe {
  font-weight: bold;
  color: #8b0000; /* Rouge foncé */
  animation: clignoter 3s infinite; /* Animation qui clignote entre rouge foncé et rouge clair */
  transition: all .2s;
}

.deSpe:hover {
  color: red;
  animation: none; /* Désactiver l'animation de clignotement au hover */
  animation: clignoterHover 1s infinite;
  text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue, 0 0 20px blue, 0 0 25px blue;
}

.underline {
  text-decoration: underline;
}

.reussite{
  color: green;
}

.echec{
  color: red;
}