<option value="0"></option>
<option value="system.health.max">PV max</option>
<option value="system.power.max">PE max</option>

<option value="system.gds_stats.con.value">Constitution</option>
<option value="system.gds_stats.con.b_m">Constitution | Brut</option>
<option value="system.gds_stats.agi.value">Agilité</option>
<option value="system.gds_stats.agi.b_m">Agilité | Brut</option>
<option value="system.gds_stats.men.value">Mental</option>
<option value="system.gds_stats.men.b_m">Mental | Brut</option>
<option value="system.gds_stats.mag.value">Magie</option>
<option value="system.gds_stats.mag.b_m">Magie | Brut</option>
<option value="system.gds_stats.cha.value">Charisme</option>
<option value="system.gds_stats.cha.b_m">Charisme | Brut</option>
<option value="system.gds_stats.sav.value">Savoir</option>
<option value="system.gds_stats.sav.b_m">Savoir | Brut</option>

<option value="system.maitrises.cor.b_m">Corps</option>
<option value="system.maitrises.esp.b_m">Esprit</option>
<option value="system.maitrises.soc.b_m">Social</option>

<option value="system.ss_stats.ss_stats1.pug.b_m">Pugilat</option>
<option value="system.ss_stats.ss_stats1.cac.b_m">Arme Cac</option>
<option value="system.ss_stats.ss_stats1.pre.b_m">Précision</option>
<option value="system.ss_stats.ss_stats1.esq.b_m">Esquive</option>
<option value="system.ss_stats.ss_stats1.par.b_m">Parade</option>
<option value="system.ss_stats.ss_stats1.dis.b_m">Discrétion</option>
<option value="system.ss_stats.ss_stats1.obs.b_m">Observation</option>
<option value="system.ss_stats.ss_stats1.per.b_m">Perception</option>
<option value="system.ss_stats.ss_stats1.psy.b_m">Psyché</option>
<option value="system.ss_stats.ss_stats1.int.b_m">Intimidation</option>
<option value="system.ss_stats.ss_stats2.com.b_m">Communication</option>
<option value="system.ss_stats.ss_stats2.aut.b_m">Autorité</option>
<option value="system.ss_stats.ss_stats2.med.b_m">Médecine</option>
<option value="system.ss_stats.ss_stats2.pil.b_m">Pilotage</option>
<option value="system.ss_stats.ss_stats2.art.b_m">Artisanat</option>
<option value="system.ss_stats.ss_stats2.vit.b_m">Vitesse</option>
<option value="system.ss_stats.ss_stats2.ins.b_m">Instinct</option>
<option value="system.ss_stats.ss_stats2.s_f.b_m">Sang-froid</option>
<option value="system.ss_stats.ss_stats2.reg.b_m">Régénération de PV</option>
<option value="system.ss_stats.ss_stats2.rec.b_m">Récupération de PE</option>