<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='effect'>Effet</a>
    <a class="item" data-tab='description'>Description</a>
    <a class='item' data-tab='note'>Note</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! effect Tab }}
    <div class='tab' data-group='primary' data-tab='effect'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{> "systems/shinzo/templates/item/parts/item-effects.hbs"}}
    </div>

    {{! description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! note Tab }}
    <div class='tab' data-group='primary' data-tab='note'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedNote
        target='system.note'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>
    </div>
  </section>
</form>